.wrapper{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chat-box{
    display: flex;
    flex-direction: column;
    height: 600px;
    /* min-width:1400px; */
    border-radius: 1%;
    background-color: #f2f2f2;
    border: 2px solid #d9d9d9;
    color: #000;
    overflow: scroll;
    padding: 0;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 20px;

    /* opacity: 10%; */
}

@media screen and (max-width: 600px){
    .chat-box{
        height: 500px;
    }
    .buttonContainer{
        max-height: 40px;
    }
    .form-controll{
        max-height: 30px;
        min-width: 100px;
    }
    .textarea{
        max-height: 30px;
    }
}


.message-container{
    max-width: 100%;
    /* min-height: 80px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-bottom: 0.1px solid #f2f2f2;
}

.ai-img{
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.ai-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-controll{
    margin-right: 30px;
}

.hide{
    display: none !important;
}

.show{
    display: inline-block;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}