.center {
    justify-content: center;
    padding: 3rem 0 1rem 0;
}

.about-list {
    padding: 0;
}

.about-list > li{
    list-style: none;
}

.aboutus {
    padding: 0 10rem;
    background:  rgb(242, 245, 255);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .aboutus {
        padding: 0 1rem;
    }
}